:root{
    --component-preview-bg: #292b30 !important;
}

.demo-block{
    border: 1px solid #eee !important;
    .meta{
        background: #dedede !important;
    }
}

.vitepress-demo-preview__naive-ui__container{
    .vitepress-demo-preview-name_handle{
        .vitepress-demo-preview-component__name{
            font-size: 16px;
        }
    }
}

